server {
    listen 80;
    listen [::]:80;
    server_name quota.example.com;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 404;
    }
}
